input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
/*
input[type="text"] {
    margin: 1em 5em;
    box-sizing: border-box;
  }
*/

form { 
    width: 50%
}